<?xml version="1.0"?>
<launch>
    <arg name="setup" default="standart_setup" doc="Robot setup"/>
    <arg name="gazebo_gui" default="true" doc="Open Gazebo GUI window"/>
    <arg name="moveit" default="true" doc="Start MoveIt"/>
    <arg name="rviz" default="true" doc="Start RViz"/>
    <arg name="pipeline" default="ompl" doc="MoveIt planning pipeline"/>
    <arg name="debug" default="false" doc="Debug flag"/>
    <arg name="velocity_control" default="false" doc="Position or Velocity control of the joints"/>
    <arg name="ff_control" default="false" doc="Trajecotry of Feed-Forward control of the joints"/>

    <!-- start robot simulation -->
    <include file="$(find prl_ur5_gazebo)/launch/gazebo.launch">
        <arg name="setup" value="$(arg setup)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="velocity_control" value="$(arg velocity_control)"/>
        <arg name="ff_control" value="$(arg ff_control)"/>
    </include>

    <!-- start MoveIt -->
    <group if="$(arg moveit)">
        <!-- Dumb way to rais an error in launchfiles : Moveit is not setup to work with feedforward controllers -->
        <node name="Cannot have moveit if have ff_control is True (set moveit:=false) !" if="$(arg ff_control)"/>
        <include file="$(find prl_ur5_moveit_config)/launch/moveit.launch">
            <arg name="setup" value="$(arg setup)"/>
            <arg name="use_rviz" value="$(arg rviz)"/>
            <arg name="pipeline" value="$(arg pipeline)"/>
            <arg name="debug" value="$(arg debug)"/>
            <arg name="velocity_control" value="$(arg velocity_control)"/>
        </include>
    </group>
</launch>
