<?xml version="1.0"?>
<launch>
  <arg name="setup" default="standart_setup" doc="The setup name. The setup name must match the file name in the config/setup/ directory."/>
  <arg name="table" default="false" doc="Add or not the table model to the URDF."/>
  <arg name="backwall" default="true" doc="Add or not the backwall model to the URDF."/>
  <arg name="ceiling" default="true" doc="Add or not the ceiling model to the URDF."/>

  <arg name="velocity_control" default="false" doc="Position or Velocity control of the joints"/>
  <arg name="hardware_interface" value="hardware_interface/PositionJointInterface" doc="The transmission hardware interface." unless="$(arg velocity_control)"/>
  <arg name="hardware_interface" value="hardware_interface/VelocityJointInterface" doc="The transmission hardware interface."      if="$(arg velocity_control)"/>

  <!-- Load the universal robot description format (URDF) -->
  <param name="robot_description" command="
      $(find xacro)/xacro '$(find prl_ur5_description)/urdf/prl_ur5_robot.urdf.xacro'
      setup:=$(arg setup)
      table:=$(arg table)
      backwall:=$(arg backwall)
      ceiling:=$(arg ceiling)
      hardware_interface:=$(arg hardware_interface)
    "/>

  <!-- Load the setup parameters -->
  <group ns="setup">
    <param name="name" value="$(arg setup)"/>
    <rosparam command="load" file="$(find prl_ur5_robot_configuration)/config/$(arg setup).yaml"/>
  </group>
</launch>
