<?xml version="1.0" encoding="UTF-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="prl_ur5_robot">
    <xacro:arg name="setup_name" default=""/>
    <xacro:property name="setup" value="${load_yaml('$(find prl_ur5_robot_configuration)/config/$(arg setup_name).yaml')}"/>

    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
      <xacro:include filename="$(find onrobot_description)/urdf/onrobot_rg.srdf.xacro"/>

<!-- LEFT GRIPPER -->
    <!-- if onrobot-rg2 -->
    <xacro:if value="${setup['left']['gripper'] == 'onrobot-rg2'}">
        <xacro:property name="left_gripper_name" value="onrobot_rg2"/>
    </xacro:if>

    <!-- if onrobot-rg6 -->
    <xacro:if value="${setup['left']['gripper'] == 'onrobot-rg6'}">
        <xacro:property name="left_gripper_name" value="onrobot_rg6"/>
    </xacro:if>

    <!-- if onrobot-rg6-v2 -->
    <xacro:if value="${setup['left']['gripper'] == 'onrobot-rg6-v2'}">
        <xacro:property name="left_gripper_name" value="onrobot_rg6_v2"/>
    </xacro:if>

    <!-- if allegro-hand -->
    <xacro:if value="${setup['left']['gripper'].startswith('allegro-hand:')}">
      <xacro:include filename="$(find allegro_hand_description)/allegro_hand_description.srdf.xacro"/>
      <xacro:property name="left_gripper_name" value="allegro_hand"/>
    </xacro:if>

    <!-- if custom gripper -->
    <xacro:if value="${setup['left']['gripper'].startswith('custom:')}">
        <xacro:include filename="$(find prl_ur5_robot_configuration)/urdf/${setup['left']['gripper'][7:]}.srdf.xacro"/>
        <xacro:property name="left_gripper_name" value="${setup['left']['gripper'][7:]}"/>
    </xacro:if>

    <!-- Define gripper group and define its states-->
    <xacro:call macro="${left_gripper_name}_group_define" group_name="left_gripper" prefix='left_gripper'/>

    <!-- Create autocolision and collision tags -->
    <xacro:call macro="${left_gripper_name}_autocol" prefix='left_gripper'/>
    <xacro:call macro="${left_gripper_name}_col_with" prefix='left_gripper' link='left_wrist_3_link'/>
    <xacro:call macro="${left_gripper_name}_col_with" prefix='left_gripper' link='left_ft300_mounting_plate'/>
    <xacro:call macro="${left_gripper_name}_col_with" prefix='left_gripper' link='left_ft300_sensor'/>
    <xacro:if value="${'camera' in setup['left']}">
        <xacro:call macro="${left_gripper_name}_col_with" prefix='left_gripper' link='left_camera_link'/>
    </xacro:if>

<!-- RIGHT GRIPPER -->
    <!-- if onrobot-rg2 -->
    <xacro:if value="${setup['right']['gripper'] == 'onrobot-rg2'}">
        <xacro:property name="right_gripper_name" value="onrobot_rg2"/>
    </xacro:if>

    <!-- if onrobot-rg6 -->
    <xacro:if value="${setup['right']['gripper'] == 'onrobot-rg6'}">
        <xacro:property name="right_gripper_name" value="onrobot_rg6"/>
    </xacro:if>

    <!-- if onrobot-rg6 -->
    <xacro:if value="${setup['right']['gripper'] == 'onrobot-rg6-v2'}">
        <xacro:property name="right_gripper_name" value="onrobot_rg6_v2"/>
    </xacro:if>

    <!-- if allegro-hand -->
    <xacro:if value="${setup['right']['gripper'].startswith('allegro-hand:')}">
      <xacro:include filename="$(find allegro_hand_description)/allegro_hand_description.srdf.xacro"/>
      <xacro:property name="right_gripper_name" value="allegro_hand"/>
    </xacro:if>

    <!-- if custom gripper -->
    <xacro:if value="${setup['right']['gripper'].startswith('custom:')}">
        <xacro:include filename="$(find prl_ur5_robot_configuration)/urdf/${setup['right']['gripper'][7:]}.srdf.xacro"/>
        <xacro:property name="right_gripper_name" value="${setup['right']['gripper'][7:]}"/>
    </xacro:if>

    <!-- Define gripper group and define its states-->
    <xacro:call macro="${right_gripper_name}_group_define" group_name='right_gripper' prefix='right_gripper'/>

    <!-- Create autocolision and collision tags -->
    <xacro:call macro="${right_gripper_name}_autocol" prefix='right_gripper'/>
    <xacro:call macro="${right_gripper_name}_col_with" prefix='right_gripper' link='right_wrist_3_link'/>
    <xacro:call macro="${right_gripper_name}_col_with" prefix='right_gripper' link='right_ft300_mounting_plate'/>
    <xacro:call macro="${right_gripper_name}_col_with" prefix='right_gripper' link='right_ft300_sensor'/>
    <xacro:if value="${'camera' in setup['right']}">
        <xacro:call macro="${right_gripper_name}_col_with" prefix='right_gripper' link='right_camera_link'/>
    </xacro:if>

    <!-- Define other groups -->
    <group name="left_arm">
        <chain base_link="left_base_link" tip_link="left_tool"/>
    </group>
    <group name="right_arm">
        <chain base_link="right_base_link" tip_link="right_tool"/>
    </group>
    <group name="both_arms">
        <group name="left_arm"/>
        <group name="right_arm"/>
    </group>

    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <group_state name="default" group="left_arm">
        <joint name="left_elbow_joint" value="-1.57"/>
        <joint name="left_shoulder_lift_joint" value="-1.57"/>
        <joint name="left_shoulder_pan_joint" value="-1.57"/>
        <joint name="left_wrist_1_joint" value="0"/>
        <joint name="left_wrist_2_joint" value="1.57"/>
        <joint name="left_wrist_3_joint" value="-0.785"/>
    </group_state>
    <group_state name="default" group="right_arm">
        <joint name="right_elbow_joint" value="1.57"/>
        <joint name="right_shoulder_lift_joint" value="-1.57"/>
        <joint name="right_shoulder_pan_joint" value="1.57"/>
        <joint name="right_wrist_1_joint" value="-3.14"/>
        <joint name="right_wrist_2_joint" value="-1.57"/>
        <joint name="right_wrist_3_joint" value="0.785"/>
    </group_state>
    <group_state name="default" group="both_arms">
        <joint name="left_elbow_joint" value="-1.57"/>
        <joint name="left_shoulder_lift_joint" value="-1.57"/>
        <joint name="left_shoulder_pan_joint" value="-1.57"/>
        <joint name="left_wrist_1_joint" value="0"/>
        <joint name="left_wrist_2_joint" value="1.57"/>
        <joint name="left_wrist_3_joint" value="-0.785"/>
        <joint name="right_elbow_joint" value="1.57"/>
        <joint name="right_shoulder_lift_joint" value="-1.57"/>
        <joint name="right_shoulder_pan_joint" value="1.57"/>
        <joint name="right_wrist_1_joint" value="-3.14"/>
        <joint name="right_wrist_2_joint" value="-1.57"/>
        <joint name="right_wrist_3_joint" value="0.785"/>
    </group_state>
    <group_state name="inside" group="left_arm">
        <joint name="left_elbow_joint" value="-1.57"/>
        <joint name="left_shoulder_lift_joint" value="-1.57"/>
        <joint name="left_shoulder_pan_joint" value="-1.57"/>
        <joint name="left_wrist_1_joint" value="-1.57"/>
        <joint name="left_wrist_2_joint" value="2.36"/>
        <joint name="left_wrist_3_joint" value="-1.57"/>
    </group_state>
    <group_state name="inside" group="right_arm">
        <joint name="right_elbow_joint" value="1.57"/>
        <joint name="right_shoulder_lift_joint" value="-1.57"/>
        <joint name="right_shoulder_pan_joint" value="1.57"/>
        <joint name="right_wrist_1_joint" value="-1.57"/>
        <joint name="right_wrist_2_joint" value="-2.36"/>
        <joint name="right_wrist_3_joint" value="1.57"/>
    </group_state>
    <group_state name="inside" group="both_arms">
        <joint name="left_elbow_joint" value="-1.57"/>
        <joint name="left_shoulder_lift_joint" value="-1.57"/>
        <joint name="left_shoulder_pan_joint" value="-1.57"/>
        <joint name="left_wrist_1_joint" value="-1.57"/>
        <joint name="left_wrist_2_joint" value="2.36"/>
        <joint name="left_wrist_3_joint" value="-1.57"/>
        <joint name="right_elbow_joint" value="1.57"/>
        <joint name="right_shoulder_lift_joint" value="-1.57"/>
        <joint name="right_shoulder_pan_joint" value="1.57"/>
        <joint name="right_wrist_1_joint" value="-1.57"/>
        <joint name="right_wrist_2_joint" value="-2.36"/>
        <joint name="right_wrist_3_joint" value="1.57"/>
    </group_state>
    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <end_effector name="left_gripper" parent_link="left_tool" group="left_gripper"/>
    <end_effector name="right_gripper" parent_link="right_tool" group="right_gripper"/>
    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="prl_ur5_base"/>
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="left_base_link" link2="left_shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="left_base_link" link2="right_base_link" reason="Never"/>
    <disable_collisions link1="left_base_link" link2="right_shoulder_link" reason="Never"/>
    <disable_collisions link1="left_base_link" link2="stand_link" reason="Adjacent"/>
    <disable_collisions link1="left_forearm_link" link2="left_upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="left_forearm_link" link2="left_wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="left_ft300_mounting_plate" link2="left_ft300_sensor" reason="Adjacent"/>
    <disable_collisions link1="left_ft300_mounting_plate" link2="left_wrist_1_link" reason="Never"/>
    <disable_collisions link1="left_ft300_mounting_plate" link2="left_wrist_2_link" reason="Never"/>
    <disable_collisions link1="left_ft300_mounting_plate" link2="left_wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="left_ft300_sensor" link2="left_wrist_1_link" reason="Never"/>
    <disable_collisions link1="left_ft300_sensor" link2="left_wrist_2_link" reason="Never"/>
    <disable_collisions link1="left_ft300_sensor" link2="left_wrist_3_link" reason="Never"/>
    <disable_collisions link1="left_shoulder_link" link2="left_upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="left_shoulder_link" link2="right_base_link" reason="Never"/>
    <disable_collisions link1="left_shoulder_link" link2="right_shoulder_link" reason="Never"/>
    <disable_collisions link1="left_shoulder_link" link2="stand_link" reason="Never"/>
    <disable_collisions link1="left_wrist_1_link" link2="left_wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="left_wrist_1_link" link2="left_wrist_3_link" reason="Never"/>
    <disable_collisions link1="left_wrist_2_link" link2="left_wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="left_wrist_3_link" link2="left_wrist_connector_link" reason="Adjacent"/>
    <disable_collisions link1="right_base_link" link2="right_shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="right_base_link" link2="stand_link" reason="Adjacent"/>
    <disable_collisions link1="right_forearm_link" link2="right_upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="right_forearm_link" link2="right_wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="right_ft300_mounting_plate" link2="right_ft300_sensor" reason="Adjacent"/>
    <disable_collisions link1="right_ft300_mounting_plate" link2="right_wrist_1_link" reason="Never"/>
    <disable_collisions link1="right_ft300_mounting_plate" link2="right_wrist_2_link" reason="Never"/>
    <disable_collisions link1="right_ft300_mounting_plate" link2="right_wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="right_ft300_sensor" link2="right_wrist_1_link" reason="Never"/>
    <disable_collisions link1="right_ft300_sensor" link2="right_wrist_2_link" reason="Never"/>
    <disable_collisions link1="right_ft300_sensor" link2="right_wrist_3_link" reason="Never"/>
    <disable_collisions link1="right_shoulder_link" link2="right_upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="right_shoulder_link" link2="stand_link" reason="Never"/>
    <disable_collisions link1="right_wrist_1_link" link2="right_wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="right_wrist_1_link" link2="right_wrist_3_link" reason="Never"/>
    <disable_collisions link1="right_wrist_2_link" link2="right_wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="right_wrist_3_link" link2="right_wrist_connector_link" reason="Adjacent"/>

    <!-- External cameras -->
    <xacro:macro name="external_camera_col" params="number camera">
        <disable_collisions link1="fixed_camera_${number}_bb" link2="fixed_camera_${number}_sj" reason="Adjacent"/>
        <disable_collisions link1="fixed_camera_${number}_vt" link2="fixed_camera_${number}_sj" reason="Adjacent"/>
        <disable_collisions link1="fixed_camera_${number}_vt" link2="fixed_hr_${number}" reason="Adjacent"/>
        <disable_collisions link1="fixed_camera_${number}_vt" link2="fixed_camera_${number}_bb" reason="Adjacent"/>

        <disable_collisions link1="${camera['name_prefix']}_camera_link" link2="fixed_camera_${number}_vt" reason="Adjacent"/>
        <disable_collisions link1="${camera['name_prefix']}_camera_link" link2="fixed_camera_${number}_sj" reason="Adjacent"/>
        <disable_collisions link1="${camera['name_prefix']}_camera_link" link2="fixed_camera_${number}_bb" reason="Adjacent"/>
    </xacro:macro>

    <!-- Iterate voer all cameras using reccursive function-->
    <xacro:property name="fixed_cameras_file" value="$(find prl_ur5_robot_configuration)/config/${setup['fixed_cameras_file']}"/>
    <xacro:property name="fixed_cameras" value="${load_yaml(fixed_cameras_file)}"/>

    <xacro:macro name="external_cameras_loop" params="cameras number">
        <xacro:if value="${cameras}">
                <!-- pop first item from list -->
                <xacro:property name="camera" value="${cameras.pop(0)}"/>
                <xacro:external_camera_col number="${number}" camera="${camera}"/>

                <!-- recursive call -->
                <xacro:external_cameras_loop cameras="${cameras}" number="${number+1}"/>
        </xacro:if>
    </xacro:macro>

    <xacro:external_cameras_loop cameras="${fixed_cameras}" number="0"/>
</robot>
