<?xml version="1.0"?>
<launch>
    <arg name="setup" default="standart_setup" doc="Robot setup"/>
    <arg name="headless_mode" default="true" doc="Automatically send URScript to robot to execute. With this, the URCap is not needed on the robot."/>
    <arg name="debug" default="false" doc="Debug flag that will get passed on to ur_control.launch"/>
    <arg name="velocity_control" default="false" doc="Position or Velocity control of the joints"/>

    <!-- send robot urdf to param server -->
    <include file="$(find prl_ur5_description)/launch/upload.launch">
      <arg name="setup" value="$(arg setup)"/>
      <arg name="velocity_control" value="$(arg velocity_control)"/>
    </include>

    <!-- start hardware/controllers specific for the setup -->
    <include file="$(find prl_ur5_control)/launch/$(arg setup)_control.launch.xml">
        <arg name="headless_mode" value="$(arg headless_mode)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="velocity_control" value="$(arg velocity_control)"/>
    </include>

    <!-- convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
