<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- single arm -->
  <xacro:include filename="$(find prl_ur5_description)/urdf/_ur5.urdf.xacro"/>
  <!-- gazebo -->
  <xacro:include filename="$(find prl_ur5_description)/urdf/prl_ur5.gazebo.xacro"/>
  <!-- Fixed cameras -->
  <xacro:include filename="$(find prl_ur5_description)/urdf/_fixed_cameras.urdf.xacro"/>

  <xacro:macro name="prl_ur5" params="setup_file hardware_interface sensors:=false table:=true backwall:=true ceiling:=true">

    <!-- base link -->
    <link name="prl_ur5_base"/>

    <!-- bimanual stand -->
    <link name="stand_link">
      <visual>
        <geometry>
          <mesh filename="package://prl_ur5_description/model/vention_tower.dae"/>
        </geometry>
        <material name="Cyan">
          <color rgba="0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://prl_ur5_description/model/vention_tower.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="stand_fix" type="fixed">
      <parent link="prl_ur5_base"/>
      <child link = "stand_link"/>
      <origin xyz="0.0 -0.3825 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <!-- table -->
    <xacro:if value="$(arg table)">
      <link name="table_link">
        <visual>
          <geometry>
            <mesh filename="package://prl_ur5_description/model/vention_table.dae"/>
          </geometry>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://prl_ur5_description/model/vention_table.stl"/>
          </geometry>
        </collision>
      </link>

      <joint name="table_fix" type="fixed">
        <parent link="stand_link"/>
        <child link = "table_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      </joint>

    </xacro:if>

    <!-- Cameras fixtures (if any) -->
    <xacro:if value="${setup_file.get('fixed_cameras_file') is not None}">
      <xacro:fixed_cameras parent="prl_ur5_base" fixed_cameras_file="$(find prl_ur5_robot_configuration)/config/${setup_file['fixed_cameras_file']}"/>
    </xacro:if>

    <!-- back wall -->
    <xacro:if value="$(arg backwall)">
      <link name="backwall_link">
        <visual>
          <geometry>
            <box size="3 0.1 2.5" />
          </geometry>
          <material name="grey"><color rgba="0.8 0.8 0.8 0.2"/></material>
        </visual>
        <collision>
          <geometry>
            <box size="3 0.1 2.5" />
          </geometry>
        </collision>
      </link>

      <joint name="backwall_fix" type="fixed">
        <parent link="prl_ur5_base"/>
        <child link = "backwall_link"/>
        <origin xyz="0 -1.05 0.5" rpy="0.0 0.0 0.0"/>
      </joint>
    </xacro:if>

    <!-- ceiling wall -->
    <xacro:if value="$(arg ceiling)">
      <link name="ceiling_link">
        <visual>
          <geometry>
            <box size="3 1.95 0.1" />
          </geometry>
          <material name="grey"><color rgba="0.8 0.8 0.8 0.1"/></material>
        </visual>
        <collision>
          <geometry>
            <box size="3 1.95 0.1" />
          </geometry>
        </collision>
      </link>

      <joint name="ceiling_fix" type="fixed">
        <parent link="prl_ur5_base"/>
        <child link = "ceiling_link"/>
        <origin xyz="0 0 1.3" rpy="0.0 0.0 0.0"/>
      </joint>
    </xacro:if>

    <!-- left arm -->
    <xacro:property name="left" value="${setup_file.get('left')}"/>

    <xacro:if value="${left is not None}">
      <xacro:ur5 prefix="left_"
                 parent="stand_link"
                 kinematics="$(find prl_ur5_robot_configuration)/config/${left['arm_kinematics']}"
                 joint_limits="$(find prl_ur5_robot_configuration)/config/${left['arm_joint_limits']}"
                 pose="${left['arm_pose']}"
                 gripper="${left.get('gripper')}"
                 gripper_pose="${left.get('gripper_pose')}"
                 sensors="${sensors}"
                 camera="${left.get('camera')}"
                 camera_pose="${left.get('camera_pose')}"
                 hardware_interface="${hardware_interface}"/>
    </xacro:if>

    <!-- right arm -->
    <xacro:property name="right" value="${setup_file.get('right')}"/>

    <xacro:if value="${right is not None}">
      <xacro:ur5 prefix="right_"
                 parent="stand_link"
                 kinematics="$(find prl_ur5_robot_configuration)/config/${right['arm_kinematics']}"
                 joint_limits="$(find prl_ur5_robot_configuration)/config/${right['arm_joint_limits']}"
                 pose="${right['arm_pose']}"
                 gripper="${right.get('gripper')}"
                 gripper_pose="${right.get('gripper_pose')}"
                 sensors="${sensors}"
                 camera="${right.get('camera')}"
                 camera_pose="${right.get('camera_pose')}"
                 hardware_interface="${hardware_interface}"/>
    </xacro:if>

    <!-- head -->
    <xacro:property name="head" value="${setup_file.get('head')}"/>

    <xacro:if value="${head is not None}">
      <xacro:unless value="${head.get('camera') is None}">
        <xacro:camera_sensor prefix='head_'
                             parent="stand_link"
                             camera="${head['camera']}"
                             pose="${head['camera_pose']}"/>
      </xacro:unless>
    </xacro:if>

    <!-- gazebo stuff -->
    <xacro:prl_ur5_gazebo/>

  </xacro:macro>
</robot>
