<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- single arm -->
  <xacro:include filename="$(find prl_ur5_description)/urdf/_ur5.urdf.xacro"/>
  <!-- Fixed cameras -->
  <xacro:include filename="$(find prl_ur5_description)/urdf/_fixed_cameras.urdf.xacro"/>

  <xacro:macro name="prl_ur5" params="setup_file hardware_interface gz_sim sensors:=false table:=true backwall:=true leftwall:=true">

    <!-- base link -->
    <link name="prl_ur5_base"/>


    <!-- table -->
    <!-- bimanual workbench -->
    <xacro:if value="$(arg table)">
      <link name="table_link">
        <visual>
          <geometry>
            <mesh filename="package://prl_ur5_description/model/vention_table.stl"/>
          </geometry>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://prl_ur5_description/model/vention_table.stl"/>
          </geometry>
        </collision>
      </link>

    <joint name="table_fix" type="fixed">
      <parent link="prl_ur5_base"/>
      <child link = "table_link"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    </xacro:if>

    <!-- Cameras fixtures (if any) -->
    <xacro:if value="${setup_file.get('fixed_cameras_file') is not None}">
      <xacro:fixed_cameras parent="prl_ur5_base" fixed_cameras_file="$(find prl_ur5_robot_configuration)/config/${setup_file['fixed_cameras_file']}" turn_on="${sensors}"/>
    </xacro:if>

    <!-- back wall -->
    <xacro:if value="$(arg backwall)">
      <link name="backwall_link">
        <visual>
          <geometry>
            <box size="3.5 0.1 2" />
          </geometry>
          <material name="grey"><color rgba="0.8 0.8 0.8 0.2"/></material>
        </visual>
        <collision>
          <geometry>
            <box size="3.5 0.1 2" />
          </geometry>
        </collision>
      </link>

      <joint name="backwall_fix" type="fixed">
        <parent link="prl_ur5_base"/>
        <child link = "backwall_link"/>
        <origin xyz="0 -1.05 0.25" rpy="0.0 0.0 0.0"/>
      </joint>
    </xacro:if>

    <!-- left wall -->
    <xacro:if value="$(arg leftwall)">
      <link name="leftwall_link">
        <visual>
          <geometry>
            <box size="0.1 1.95 2" />
          </geometry>
          <material name="grey"><color rgba="0.8 0.8 0.8 0.1"/></material>
        </visual>
        <collision>
          <geometry>
            <box size="0.1 1.95 2" />
          </geometry>
        </collision>
      </link>

      <joint name="leftwall_fix" type="fixed">
        <parent link="prl_ur5_base"/>
        <child link = "leftwall_link"/>
        <origin xyz="-1.65 0 0.25" rpy="0.0 0.0 0.0"/>
      </joint>
    </xacro:if>

    <!-- left arm -->
    <xacro:property name="left" value="${setup_file.get('left')}"/>

    <xacro:if value="${left is not None}">
      <xacro:ur5 prefix="left_"
                 parent="prl_ur5_base"
                 kinematics="$(find prl_ur5_robot_configuration)/config/${left['arm_kinematics']}"
                 joint_limits="$(find prl_ur5_robot_configuration)/config/${left['arm_joint_limits']}"
                 pose="${left['arm_pose']}"
                 gripper="${left.get('gripper')}"
                 gripper_pose="${left.get('gripper_pose')}"
                 sensors="${sensors}"
                 camera="${left.get('camera')}"
                 camera_pose="${left.get('camera_pose')}"
                 hardware_interface="${hardware_interface}"
                 gz_sim="${gz_sim}"/>
    </xacro:if>

    <!-- right arm -->
    <xacro:property name="right" value="${setup_file.get('right')}"/>

    <xacro:if value="${right is not None}">
      <xacro:ur5 prefix="right_"
                 parent="prl_ur5_base"
                 kinematics="$(find prl_ur5_robot_configuration)/config/${right['arm_kinematics']}"
                 joint_limits="$(find prl_ur5_robot_configuration)/config/${right['arm_joint_limits']}"
                 pose="${right['arm_pose']}"
                 gripper="${right.get('gripper')}"
                 gripper_pose="${right.get('gripper_pose')}"
                 sensors="${sensors}"
                 camera="${right.get('camera')}"
                 camera_pose="${right.get('camera_pose')}"
                 hardware_interface="${hardware_interface}"
                 gz_sim="${gz_sim}"/>
    </xacro:if>

    <!-- gazebo stuff -->
    <xacro:if value="${gz_sim}">
      <gazebo>
        <!-- enable ros_control loop -->
        <plugin name="ros_control_arms" filename="libgazebo_ros_control_select_joints.so">
          <robotNamespace>/left_arm</robotNamespace>
          <legacyModeNS>false</legacyModeNS>
          <joints>
            left_shoulder_pan_joint
            left_shoulder_lift_joint
            left_elbow_joint
            left_wrist_1_joint
            left_wrist_2_joint
            left_wrist_3_joint
          </joints>
        </plugin>

        <plugin name="ros_control_arms" filename="libgazebo_ros_control_select_joints.so">
          <robotNamespace>/right_arm</robotNamespace>
          <legacyModeNS>false</legacyModeNS>
          <joints>
            right_shoulder_pan_joint
            right_shoulder_lift_joint
            right_elbow_joint
            right_wrist_1_joint
            right_wrist_2_joint
            right_wrist_3_joint
          </joints>
        </plugin>

        <!-- gravity compensation -->
        <plugin name="gravity_compensation" filename="libGravityCompensationPlugin.so">
          <uri>model://prl_ur5_robot</uri>
        </plugin>

        <!-- fix base in Gazebo -->
        <joint name="fixed" type="fixed">
          <parent>world</parent>
          <child>prl_ur5_base</child>
        </joint>
      </gazebo>
    </xacro:if>

  </xacro:macro>
</robot>
