<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="prl_ur5_gazebo" params="">

    <gazebo>
      <!-- enable ros_control loop -->
      <plugin name="ros_control" filename="libgazebo_ros_control.so"/>

      <!-- gravity compensation -->
      <!-- <plugin name="gravity_compensation" filename="libGravityCompensationPlugin.so">
        <uri>model://prl_ur5_robot</uri>
      </plugin> -->

      <!-- fix base in Gazebo -->
      <joint name="fixed" type="fixed">
        <parent>world</parent>
        <child>prl_ur5_base</child>
      </joint>
    </gazebo>

  </xacro:macro>

</robot>
