<launch>
  <!-- Robot setup -->
  <arg name="setup" default="none"/>

  <arg name="velocity_control" default="false" doc="Position or Velocity control of the joints"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <include if="$(arg load_robot_description)" file="$(find prl_ur5_description)/launch/upload.launch">
    <arg name="setup" value="$(arg setup)"/>
    <arg name="table" value="false"/>
    <arg name="velocity_control" value="$(arg velocity_control)"/>
  </include>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find prl_ur5_moveit_config)/config/$(arg setup)/prl_ur5_robot.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find prl_ur5_moveit_config)/config/$(arg setup)/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find prl_ur5_moveit_config)/config/$(arg setup)/kinematics.yaml"/>
  </group>

</launch>
