<?xml version="1.0"?>
<launch>
  <!-- Robot setup -->
  <arg name="setup" default="none"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find prl_ur5_moveit_config)/config/$(arg setup)/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller
    left_arm/scaled_pos_joint_traj_controller
    right_arm/scaled_pos_joint_traj_controller
    left_gripper/gripper_controller
    right_gripper/gripper_controller"/>

</launch>
